<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" slot="start" (click)="terug()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Handtekening</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section style="margin: 20px;">
    <p>Studenten nummer</p>
    <ion-input [(ngModel)]="sNummer" placeholder="Bv. s123456"></ion-input>
    <br>
    <div class="signature-pad">
      <div class="signature-pad--body">
        <canvas #sPad width="900" height="460" style="touch-action: none;"></canvas>
      </div>
    </div>
    <br>
    <br>
    <section class="container-fluid">
      <div class="row">
        <div class="col-6">
          <ion-button (click)="clear()">Clear</ion-button>
          <ion-button (click)="save()">Save</ion-button>
        </div>
      </div>
    </section>
  </section>

</ion-content>