<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      QR-Code
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>



  <ion-segment [(ngModel)]="elementType">
    <ion-segment-button value="img">
    </ion-segment-button>
  </ion-segment>


  <ion-button expand="full" (click)="scanCode()" color="secondary">
    <ion-icon name="qr-scanner"></ion-icon>
    Camera Openen
  </ion-button>


  <ion-card *ngIf="scannedCode">
    <ion-card-content>
      Result from Scan : {{scannedCode}}
    </ion-card-content>
  </ion-card>
</ion-content>